window {
	background-image: url("file:///usr/share/wallpapers/default-1920x1080.jpg");
	background-size: cover;
	background-position: center;
	color: rgba(53, 185, 171, 1);
}
entry {
	color: rgba(115, 186, 37, 1);
	background: rgba(23, 63, 79, 1);
}
combobox * {
        color: rgba(115, 186, 37, 1);
	background: rgba(23, 63, 79, 1);
}
button {
	color: rgba(115, 186, 37, 1);
	background: rgba(23, 63, 79, 1);
	border-color: rgba(33, 164, 223, 1);
}
